@{
    ViewData["Title"] = "Особистий кабінет";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">👤 Особистий кабінет</h1>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Вітаємо, @ViewBag.UserName!</h5>
            <p class="card-text">Ви успішно авторизовані в системі "Одеса Tours".</p>
            
            <div class="mt-4">
                <h6>Доступні функції:</h6>
                <ul>
                    <li>Перегляд доступних екскурсій</li>
                    <li>Запис на екскурсії</li>
                    <li>Перегляд історії замовлень</li>
                </ul>
            </div>
            
            <a href="/Resolve" class="btn btn-primary mt-3">Перейти до екскурсій</a>
        </div>
    </div>
</div>